################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SeikoML Compatibility Layer/SeikoML Compatibility Layer/obj
/SeikoML Compatibility Layer/.vs/SeikoML Compatibility Layer/v16
/SeikoML Compatibility Layer/SeikoML Compatibility Layer/bin/Debug/netstandard2.0
